/*******************************************************************************/
/*                                                                             */
/*                  Página de estilos para la web de SMITE                     */
/*                  Autor: Gonzalo Lázaro Zambrano                             */ 
/*                  Trabajo primer trimestre                                   */
/*                  Curso: 1º DAW                                              */
/*                                                                             */
/*******************************************************************************/


@font-face{
    font-family: texto;
    src:url(../fonts//dum1.ttf)
}

* {
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 25, 51);
    font-family: texto;
}

#wrapper {
    margin-left: 10%;
    margin-right: 10%;
    padding: 0%;
    background-color: rgb(0, 25, 51);
}

#pantheons{
    float: center;
    display: block;
    width: 80%;
    margin: auto;
}

h2{
    font-family: texto;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 1%;
    font-size: 3em;
    color: goldenrod;
    text-shadow: 2px 2px rgb(134, 101, 19),
                -2px 2px rgb(134, 101, 19),
                2px -2px rgb(134, 101, 19),
                -2px -2px rgb(134, 101, 19);
}

p{
    color: antiquewhite;
    font-family: texto;
    text-align: center;
    font-size: 2em;
    margin: auto;
    width: 80%;
}

#gods ul{
    font-size: xx-large;
    border-left: 5px solid goldenrod;
    background-color: #f1f1f111;
    color: antiquewhite;
    list-style-type: none;
    padding: 10px 20px;
}

footer{
    background-color: rgb(0, 37, 77);
    padding: 10px;
    text-align: center;
    height: 40vh;
}

footer a:link {
    color: rgb(255, 255, 255);
}

/* visited link */
footer a:visited {
color: goldenrod;
}

/* mouse over link */
footer a:hover {
color: rgb(0, 255, 0);
}

/* selected link */
footer a:active {
color: rgb(0, 229, 255);
}



/*****************************************************************************************************
*                                            HERO SECTION                                            *
*****************************************************************************************************/ 

#hero {
    background-image: url(../img/HeroBackground.jpg);
    height: 100vh;
    width: 100%;
    object-fit: cover;
    margin: 0%;
    margin-top: 50px;
    background-position: center;
    position: relative;
    z-index: -1;
}

#logo {
    top: 20%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    display: block;
    width: 35%;
    z-index: -1;
}

/*****************************************************************************************************
*                                       BARRA DE NAVEGACIÓN                                          *
*****************************************************************************************************/ 

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 25, 51);
    position: fixed;
    top: 0;
    width: 100%;
}

#nav li {
    float:inline-start;
    text-align: center;
}

#nav li:last-child {
    border-right: none;
}

#nav li a {
    display: block;
    color: goldenrod;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li a:hover {
    background-color: rgb(0, 37, 77);
}

/* header {
    background-color: rgba(0, 25, 51, 0.832);
    width: 100%;
    clear: both;
    content:'';
    display: table;
}

.menu {
    width: 1200px;
    margin: 0 auto;
}

#logomenu {
    width: 200px;
    float: left;
    padding: 8px;

}

nav {
    float: right;
}

nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 25px 0;
    float: left;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: goldenrod;
    font-weight: bold;
}

nav ul li a::before {
    display: block;
    content: '';
    width: 0%;
    background: goldenrod;
    height: 5px;
    top: 5px;
    position: absolute;
    transition: width 0.2s;
}

nav ul li a:hover::before {
    width: 100%;
} */

@media only screen and (width<1600px) {
    #logo {width:45%;}
    #hero {background-image: url(../img/HeroBackground_1600.jpg);
        height: 90vh;
        width:100%;}
}

@media only screen and (width<1260px) {
    #logo {width:55%;}
    #hero {width:100%;}
    /* nav ul li{margin-left: 30px;}
    .menu{width: 900px;} */
}

@media only screen and (width<920px) {
    #logo {width:60%;}
    #hero {background-image: url(../img/HeroBackground_920.jpg);
        height: 78vh;
        width:100%;}
    #pantheons {width: 100%}
    /* #logomenu{width: 100px;
        padding: 25px 0;}
    nav ul li{margin-left: 15px;}
    .menu{width: 610px;} */
}

@media only screen and (width<590px) {
    #logo {margin-top: 70px;
        width:80%;}
    #hero {margin-top: 70px;
        height: 70vh;
        object-fit: cover;
        width:100%;}
    #nav ul{ 
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: rgb(0, 25, 51);
    }
    
    #nav li a {
        float: center;
        display: block;
        text-align: center;
        color: goldenrod;
        padding: 8px 16px;
        text-decoration: none;
    }
    
      /* Change the link color on hover */
    #nav li a:hover {
        background-color: rgb(0, 37, 77);
        color: goldenrod;
    }
}



